*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.com-logo{
    margin-left: 20%;
    margin-right: 20%;
}
.com-logo h1{
    text-align: center;
    color: green;
    font-size: 3rem;
    padding-top: 20px;
    margin-bottom: 50px;
}
#content{
    margin-top: 18.5%;
}
.com-topics{
    width: 19%;
    text-align: left;
    padding-left: 10px;
    background-color: rgb(186, 211, 186);
}
.com-topics a{
    text-decoration: none;
    color: rgb(27, 5, 5);
}
.com-topics a:active{
    color:green;
}
.com-topics a:hover{
    text-decoration: underline;
    color: rgb(219, 99, 99);
}
.com-topics .part1{
    padding-top: 30px;
    padding-bottom: 20px;
}
#content h4{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    color: green;
    cursor: pointer;
}
#content h4:hover{
    color: rgb(100, 161, 40);
}
#content h5{
    padding: 5px;
    font-size: 17px;
}
#description{
    width: 60%;
    margin-left: 20%;
    background-color: rgb(226, 220, 212);
    margin-top: -5%;
    margin-bottom: 0px;
}
#description .com-funda {
    padding-top: 50px;
}
#description h3{
    font-size: 25px;
    color: rgb(68, 68, 161);
    padding-bottom: 20px;
    padding-left: 50px;
}
#description h4{
    font-size: 20px;
    color: rgb(68, 68, 161);
    padding-bottom: 20px;
    padding-left: 50px;
}
#description p{
    padding-bottom: 15px;
    padding-left: 30px;
    line-height: 27px;
    font-family: Arial, Helvetica, sans-serif;
}
#description .next-prev{
    text-align: right;
}
#description .next-prev button{
    margin: 10px;
    background-color: chartreuse;
    font-size: 18px;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
}
#description .next-prev i{
    color: white;
    width: 20px;
}
#description .next-prev button:hover{
    background-color: yellowgreen;
}
@media only screen and (max-width:930px){
    #content{
        margin-top: 0px;
    }
    .com-logo{
        margin-bottom: 0px;
    }
    .com-topics{
        width: 100%;
        flex-direction: column;
    }
    .com-topics .part1{
        width: 100%;
    }
    #description{
        width: 100%;
        margin-left: -2%;
        margin-top: 10px;

    }
    #description .com-funda{
        width: 100%;
        padding-left: 30px;  
    }
}
@media only screen and (min-width:930px){
    #content{
        margin-top: 0px;
    }
    #content .com-topics{
        margin-top: -250px;
        position: relative;
    }
    #description .com-funda{
        margin-top: -270px;
    }
    footer{
        margin-top: -500px;
    }
}
@media only screen and (min-width:1280px){
    #content{
        margin-top: 0px;
    }
    #content .com-topics{
        margin-top: -195px;
        position: relative;
    }
    #description .com-funda{
        margin-top: -270px;
    }
    footer{
        margin-top: -500px;
    }
   
}

