
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
  }

  /* Global ************************* */
  ul{
    list-style-type: none;
  }
  
  .navbar {
    overflow: hidden;
    background-color: green;
    width: 100%;
    display: flex;
    height: 4rem;
    transition: height 1s ease-in-out;
  }
  .navbar .toggle-collapse{
    position: absolute;
    top: 0px;
    width: 100%;
    cursor: pointer;
    display: none;
  }
  .navbar .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    font-size: 28px;
    color: #ddd;
  }
  .collapse{
    height: 30rem;
  }
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar .nav-element a:hover,.dropdown:hover,.dropbtn{
    background-color: rgb(141, 130, 130);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
.nav-element{
    width: 100%;
    margin-left: 10%;
}
.nav-element .social a {
    align-items: right;
    float: right;
}
.navbar .logo a{
    font-size: 1.8rem;
    font-weight: 700;
}
/* @media only screen and (min-width:) */

/* navbar end */
/* home start **************************/
.home-logo img{
    width: 100%;
    height: 500px;
}
.learn-tech{
  width: 100%;
}
.learn-tech h1{
  text-align: center;
  font-size: 2rem;
  margin: 20px;
  color: green;
}
.learn-tech .tech{
  width: 23%;
  display: flex;
  float: left;
  margin-left: 5%;
  box-shadow: 0px 3px 5px 0px black;
  cursor: pointer;
  display: block;
  margin-bottom: 50px;
}
.learn-tech .tech img{
  width: 100%;  
}
.learn-tech .tech:hover{
  opacity: .8;
}
.learn-tech .tech h3{
  cursor: pointer;
  margin: 10px 0px;
  color: green;
  padding-left: 5px;
}
.learn-tech .tech h3:hover{
  color: rgb(189, 52, 52);
}
.learn-tech .tech p{
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #9c9da5;
  padding-left: 10px;
}
.popular-post{
  width: 100%;
}
.popular-post a{
  text-decoration: none;
  line-height: 20px;
  font-size: 18px;
}
.popular-post h3{
  font-size: 23px;
  color: red;
}
.popular-post a:hover{
  color: rgb(182, 57, 26);
}
@media only screen and (max-width:700px) {
  .navbar .toggle-collapse{
    display: initial;
    padding-right: 10px;
    padding-top: 5px;
  }
  .navbar .nav-element{
    margin-top: 50px;
    margin-left: -130px;
    width: 50%;
    flex-direction: column;
  }
  .navbar .nav-element a{
    width: 100%;
    text-align: left;
  }
  .navbar .nav-element a:hover,.dropdown:hover,.dropbtn{
    background-color:green;
    color: rgb(29, 160, 221);
  } 
  .learn-tech{
    width: 100%;
    flex-direction: column;
    box-sizing: border-box;
  }
  .learn-tech .tech{
    flex-direction: column;
    position: relative;
    width: 80%;
  }
  .learn-tech .tech img{
    width: 100%;
  }
  .popular-post{
    width: 100%;
    padding-left: 40px;
  }
}
@media only screen and (min-width:700px){
  .learn-tech{
    width: 100%;
    display: block;
  }
  .popular-post{
    margin-top: 120%;
    padding-left: 5%;
    margin-bottom: 0px;
  }
}
@media only screen and (min-width:900px){
  .popular-post{
    width: 100%;
    margin-top: 0%;
  }
  .learn-tech .tech{
    margin-right: 20px;
  }
  
}



/* home ends**********************/

/* ==========================
*  Footer
============================*/

footer .container{
  background-color: rgba(8, 8, 8, 0.808);
  text-align: left;
  margin-top: 50%;
  padding-top: 40px;
}
footer h4 {
  color:rgb(233, 230, 225);
  font-family: "Source Sans Pro", sans-serif;
  margin-bottom: 15px;
  font-size: 20px;
} 
.container{
  width: 100%;
}
.container a{
  text-decoration: none;
}
.container .row{
  width: 100%;
  padding-left: 5%;
}
.container .top-footer{
  width: 100%;
  display: flex;
}
.container .top-footer .about,.popular,.pages{
  width: 23%;
}
.bottom-footer{
  margin-top: 40px;
  width: 100%;
  display: flex;
}
.bottom-footer .links,.comment,.additional-info{
  width: 23%;
}
footer p{
  color: wheat;
  margin-bottom: 10px;
  padding-right: 5px;
}
footer ul li {
  margin-bottom: 6px;
}
footer ul li a {
  color: #9c9da5;
  transition: all .3s;
}
footer ul li a:hover {
  color: #f30;
}
footer li a {
  line-height: 20px;
  display: inline-block;
}
.additional-info .social-media a{
  margin: 5px;
  color: #f30;
  font-size: 1.5rem;
} 
footer .social-media a:hover{
  background-color: green;
}
footer .comment{
  margin-left: 10px;
  margin-bottom: 20px;
}
.footer .comment input{
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 18px;
}
.footer .comment textarea{
  border-radius: 10px;
  font-size: 16px;
}
footer .comment button{
  width: 40%;
  margin-top: 10px;
  font-size: 20px;
  background-color: green;
  cursor: pointer;
  border-radius: 5px;
}
.footer .comment button:hover{
  background-color: grey;
}
footer .rigth{
  margin-top: 5px;
  text-align: center;
  background-color: darkgray;
  height: 25px;
}
footer .rigth p{
  color: #0e0d0d;
}
@media only screen and (max-width:700px){
  footer .container{
    margin-top: 50px;
    flex-direction: column;
    width: 100%;
  }
  .container .row{
    flex-direction: column;
    width: 100%;
  }
  .container .color-grey{
    width: 100%;
    margin-top: 10px;
  }
  .container .color-grey input,textarea{
    width: 80%;
  }
}
@media only screen and (min-width:700px){
  footer .container{
    width: 100%;
    
  }
  .container .color-grey input,textarea{
    width: 130%;
  }
  
}

/* end footer********************** */